games/
bookmarks/
transient/
auto-save-list/
eshell/
site-lisp/
elpa/
quelpa/
straight/

rust-playground/
url/

.local/
.cache/

bookmarks
tramp
recentf
projectile-bookmarks.eld

.dap-breakpoints
.lsp-session*

#*
README.el
README.html