games/
bookmarks/
transient/
auto-save-list/
eshell/
site-lisp/
elpa/
quelpa/
straight/
places/*
places/
var/
emojis/
eln-cache/
eaf/
semanticdb/
multisession/
dmenu-items
request/  

org-caldav*
nov-places
places
session*

rust-playground/
url/

.local/
.cache/

bookmarks
tramp
recentf
projectile*
projects*

.dap-breakpoints
.lsp-session*
tmp*
recentf-save.el
save-place.el
savehist.el
history
flycheck_init.el
company-statistics-cache.el
.org-id*
org-roam.db
notes.org

#*
README.el
README.html

image-dired/
.org-generic-id-locations
